@inherits RoomDetailsViewModel
@page "/RoomInfo"


<h2>Room Details</h2>

<div class="row">
    <div class="col">
        @State.SelectedRoom.Name
    </div> 
</div>
<div class="row">
    <div class="col">
        @State.SelectedRoom.CreationDate
    </div>  
</div>
<div class="row">
    <div class="col">
        <a class="btn btn-primary" href="/">Back</a>
    </div>
</div>